{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} | {{ task }}{% endblock title %}
{% block content %}
<h1><a href="{% url "task_done" task.pk %}?next={{ request.path }}">
    {% if task.is_done %}&#x2611;{% else %}&#x2610;{% endif %}</a>
    {{ task.name }}
</h1>
<p>{% trans "owner"|capfirst %}: <a href="{% url "user_detail" task.owner.username %}">{{ task.owner }}</a>
    {% if task.owner.profile.picture %}
    <img src="{{ task.owner.profile.picture.url }}" alt={% trans "profile Picture"|title %} width="50">
{% endif %} </p>
<p>{% trans "project"|capfirst %}: {{ task.project }}</p>
<p>{% trans "deadline"|capfirst %}: {{ task.deadline }}</p>
<p>{{ task.description }}</p>
<p>{% trans "created"|capfirst %}: {{ task.created_at }}{% if task.created_at != task.updated_at %},
    {% trans "updated" %}: {{ task.updated_at }}
{% endif %}
</p>
{% endblock content %}
