{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} | {{ project }}{% endblock title %}
{% block content %}
<h1>
    {{ project.name }}
</h1>
<p>{% trans "owner"|capfirst %}: {{ project.owner }}</p>
<p>{% trans "list of preject tasks"|capfirst %}:</p>
<ul>
{% for task in project.tasks.all %}
    <li><a href="{% url "task_done" task.pk %}?next={{ request.path }}">
        {% if task.is_done %}&#x2611;{% else %}&#x2610;{% endif %}</a>
        <a href="{% url "task_detail" task.pk %}">{{ task.name }}</a>
        <span style="float:right;">{{ task.deadline }}</span>
    </li>
{% endfor %}
</ul>

{% endblock content %}

