{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} | {{ blog }}{% endblock title %}
{% block content %}
<h1> {{ blog.name }}</h1>
<a class="button" style="float:right;" href="{% url "blog_create" %}">{% trans "create new blog"|capfirst %}</a>
{% if blog.owner == request.user or request.user.is_superuser %}
    <p>
        <a class="button" href="{% url "blog_update" blog.pk %}">{% trans "edit"|capfirst %}</a>
    </p>
{% endif %}
<p>{% trans "owner"|capfirst %}: {{ blog.owner }} 
    {% if blog.owner.profile.picture %}
    <img src="{{ blog.owner.profile.picture.url }}" alt={% trans "profile Picture"|title %} width="150">
    {% endif %}
</p>
<p>{{ blog.description }}</p>
<p>{% trans "created"|capfirst %}: {{ blog.created_at }}{% if blog.created_at != blog.updated_at %},
    {% trans "updated" %}: {{ blog.updated_at }}
{% endif %}
</p>
{% endblock content %}