{% extends "base.html" %}{% load i18n %} {% load static %}
{% block title %}{{ block.super }} {% trans "list" %}{% endblock title %}
{% block content %}
<h1>{% trans "blogs"|capfirst %}</h1>
<a class="button" style="float:right;" href="{% url "blog_create" %}">{% trans "create new blog"|capfirst %}</a>
<div class="toolbar">
    <form method="get" action="{{ request.path }}">
        <select name="owner" onchange="this.form.submit();">
            <option value="">{% trans "filter by owner"|capfirst %}</option>
            {% for user in user_list %}
                <option value="{{ user.username }}" {% if user.username == request.GET.owner %}selected{% endif %}>
                    {{ user.first_name }} {{ user.last_name }}
                    ({{ user.username }})
                </option>
            {% endfor %}
        </select>
        <input type="text" name="search_name" 
        value="{{ request.GET.search_name }}"
        placeholder="{% trans 'search by name' %}...">
        <button type="submit">&#128269;</button>
    </form>
</div>

{% if blog_list.has_other_pages %}
        <ul class="pagination">
          {% if blog_list.has_previous %}
            <li><a href="?page={{ blog_list.previous_page_number }}{% if request.GET.owner %}&owner={{ request.GET.owner }}{% endif %}{% if request.GET.search_name %}&search_name={{ request.GET.search_name }}{% endif %}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
          {% for i in blog_list.paginator.page_range %}
            {% if blog_list.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
            {% else %}
              <li><a href="?page={{ i }}{% if request.GET.owner %}&owner={{ request.GET.owner }}{% endif %}{% if request.GET.search_name %}&search_name={{ request.GET.search_name }}{% endif %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if blog_list.has_next %}
            <li><a href="?page={{ blog_list.next_page_number }}{% if request.GET.owner %}&owner={{ request.GET.owner }}{% endif %}{% if request.GET.search_name %}&search_name={{ request.GET.search_name }}{% endif %}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}

        {% for blog in blog_list %}
        <ul class="style2"> Blog maker:
            {% if blog.owner.profile.picture %}
            <img src="{{ blog.owner.profile.picture.url }}" alt={% trans "profile Picture"|title %} width="50">
            {% endif %}
            <a href="{% url "user_detail" blog.owner.username %}">{{ blog.owner }}</a> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Blog name: <a href="{% url "blog_detail" blog.pk %}"> {{ blog.name }} </a>
            <p>{{ blog.updated_at }}</p>
            <p><img src="{% static 'img/line_picture_kioskas.png' %}" width="900"></p>
        </ul>
        {% endfor %}  
{% endblock content %}


