<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kioskas{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <span class="logo">MENIU</span>
        <ul class="nav">
            <li><a href="{% url "index" %}">Info</a></li>
            <li><a href="{% url "project_list" %}">Projects</a></li>
            <li><a href="{% url "task_list" %}">Tasks</a></li>
            <li><a href="{% url "blog_list" %}">Blogs</a></li>
        </ul>
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer %}{% endblock footer %}
        <p>&copy; 2024 PTU20 
            <a style="float:right;" href="https://discord.gg/ywbbZPcY">community on discord</a>
        </p>
    </footer>
</body>
</html>